.container {
    margin: 50px 0;

}
.card {
    margin: 2% 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 1);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 1);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 1);
}