body {
    background: none;
    
    
}

#main-content {
    --background: url('../../resources/images/landingpage.jpg') no-repeat 0vh 0vh/cover fixed;
}

.menu-button-padding {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    
}

.scroll-content {
    overflow: hidden; 
}

.info-card-content {
    min-width:  50%;
    background: rgba(30, 30, 30, 0.95);
    top: 20vh;
    left: 10vw;
    right: 10vw;
    position: absolute;

}

.info-box-title {
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}


