body {
    background-color: rgb(255, 255, 255);
    /* background-image: url(./mohanad-img.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 600px;

    background-size:cover; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
